body {
    font: 1em sans-serif;
    background-color: rgb(253, 233, 233);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(141, 21, 21);
    color: rgb(240, 248, 255);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: rgb(141, 21, 21);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 1px 4px;
}

h2 {
    color: rgb(141, 21, 21);
}

h3 {
    text-shadow: 1px 1px 5px;
}

.products-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.product {
    border: 1px solid#ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f8e9d2;
    text-align: center;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: #c70d0d;
}

.title1 {
    color: rgb(212, 7, 7);
}

.title2 {
    color: rgb(72, 187, 30);
}

.title3 {
    color: orange;
}

.title4 {
    color: purple;
}

.title5 {
    color: rgb(230, 230, 41);
}

.title6 {
    color : brown;
}

.title7 {
    color: rgb(247, 175, 98);
}

.title8 {
    color: #92ec44;
}

mark {
    color: blue;
    background-color: yellow;
}

.title9 {
    color: #65b5e7;
}

.title10 {
    color: #74c9f0;
}

.title11 {
    text-align: center;
    color: #1b9f04;
}

progress {
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
}



